@charset "utf-8";

// Bulma Customization

@import "../node_modules/bulma/sass/utilities/initial-variables";

// Fonts
$family-sans-serif: "Raleway", sans-serif;

//Colors
$primary: #FF5244;
$link: #980077;
$info: #43368E;

@import "../node_modules/bulma/bulma";

/**
	Navbar styles
**/

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
	padding-top: 6.25rem;

	@media (max-width: 1023px) {
		padding-top: 4.25rem;
	}
}

.navbar-brand {
	@media(max-width: 1023px) {
		align-items: center !important;
	}
}

.navbar {
	padding-top: 1rem;
	padding-bottom: 1rem;

	@media (max-width: 1023px) {
		padding-top: 0;
		padding-bottom: 0;
	}

	& .pulled-icons {
		position: absolute;
		bottom: -60%;
		right: 5%;
		text-align: right;

		@media (max-width: 1023px) {
			display: none;
		}
	}
}

.navbar-item {
	font-weight: bold;
	padding-right: 0.25rem;
	padding-left: 0.25rem;

	& img {
		max-height: 4rem;

		@media(max-width: 1023px) {
			max-height: 3rem;
		}
	}

	& span {
		padding: 0 0.5rem;
	}

	&.is-active span {
		background-color: $primary;
	}

	@media(min-width: 1024px) {
		&:hover {
			background-color: transparent !important;

			& span {
				background-color: $primary;
			}
		}
	}
}

.navbar-item.search {
	position: relative;
	color: $primary;

	&:hover {
		color: $link;
	}

	.search-box {
		position: absolute;
		bottom: -3rem;
		right: 0;
		background-color: $primary;
		width: 50vw;
		z-index: 10;
		padding: 0 1em;

		& input {
			background-color: transparent;
			width: 100%;
			height: 4.5rem;
			border: none;
			font-size: 1.2rem;
			color: $white;
			font-weight: bold;
		}
	}
}

/**
	Helper classes
**/

.is-size-huge {
	font-size: 5rem !important;
}

.is-size-big {
	font-size: 3.5rem !important;
}

@media (min-width: 1024px) {
	.is-offset-left-1 {
		position: relative;
		left: -8.33333%
	}

	.is-offset-left-8 {
		position: relative;
		margin-left: -66.66666%
	}

	.column.is-pulled-right {
		position: absolute;
		right: 0;
	}
}

.has-margin-top-100 {
	margin-top: 1em;
}

.has-margin-top-200 {
	margin-top: 2em;
}

.hyphenate {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/**
	General elements
**/

.play-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	cursor: pointer;

	& img {
		margin-left: 10%;
		max-width: 40%;
	}
}

.read-more {
	color: $white;
	padding-bottom: 0.25rem;

	&:hover {
		color: white;
		border-bottom: 3px solid $white;
	}

	&.is-primary {
		& span {
			color: $primary;
		}

		&:hover {
			border-color: $primary;
		}
	}

	&.is-link {
		& span {
			color: $link;
		}

		&:hover {
			border-color: $link;
		}
	}
}

.icon-read-more {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	& img {
		margin-right: 0.5em;
	}

	& a:hover {
		margin-top: 3px;
	}
}

hr {
	height: 8px;

	&.is-link {
		background-color: $link;
	}
}

.section.highlight {
	min-height: 40vw;
	background-size: 60%;
	background-position: top right;
	background-repeat: no-repeat;
	display: flex;

	align-items: center;
}

.right-menu div {
	border-left: 1px solid $white;
	padding: 0.5em 1em;
}

.modal-icons {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	z-index: 100;

	& .modal-icon {
		display: inline-block;
		border-radius: 100%;
		background-color: $primary;
		color: $white;
	}

	& .social-icons {
		display: inline-block;
		margin-right: 1rem;
	}
}

.modal-open {
	cursor: pointer;
}

.modal-content {
	width: 70vw;

	@media (max-width: 768px) {
		width: 90vw;
	}
}

.anchor {
	display: block;
    position: relative;
	top: -6.25rem;
    visibility: hidden;
}

/**
	Home styles
**/

.home section.hero {
	background-image: url('/img/home/hero.jpg');
	background-size: cover;
	background-position: center;
	min-height: 0;
	height: 80vw;
	max-height: calc(100vh - 6.25rem);
	position: relative;

	& .scroll-icon {
		position: absolute;
		bottom: 0;
		left: calc(50% - 14px);
	}
}

.home section.sobre-aurea {
	background-image: url('/img/home/sobre-aurea.png');
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;

	@media (max-width: 768px) {
		background-position: top center;
		padding-top: 80vw;
	}
}

.home section.gabinetona {
	background-image: url('/img/home/gabinetona.jpg');
	background-size: cover;
	background-position: center;

	& .title-container {
		position: relative;

		& .subtitle {
			position: absolute;
			right: 20%;
			top: 6rem;
		}
	}
}

.video  {
	position: relative;
	padding-top: 55%;
	background-size: cover;
	background-position: center;

	& .play-button {
		position: absolute;
		width: 50px;
		height: 50px;
		top: calc(50% - 25px);
		left: calc(50% - 25px);
	}

	& .description {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0.5em;
	}
}

.home .home-videos {
	margin-bottom: 4em;


	.slick-prev, .slick-next {
	    position: absolute;
	    top: 50%;
	    display: block;
	    padding: 0;
	    -webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    cursor: pointer;
	    color: $info;
	    border: none;
	    outline: none;
	    background: transparent;

		@media (max-width: 1023px) {
			display: none !important;
		}
	}

	.slick-prev {
	    left: -5rem;
	}

	.slick-next {
	    right: -5rem;
	}

	.slick-dots { position: absolute; bottom: -5em; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
	.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
	.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
	.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
	.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
	.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-family: "slick"; font-size: 45px; line-height: 5px; text-align: center; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
	.slick-dots li.slick-active button:before { color: $link; opacity: 0.75; }
}

.home section.seja-apoiadora {
	background-image: url('/img/home/seja-apoiadora.jpg');
	background-size: cover;
	background-position: top;

	@media
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi) {
		background-image: url('/img/home/seja-apoiadora@2x.jpg');
	}

	& .title-container {
		position: relative;

		& .subtitle {
			position: absolute;
			right: 20%;
			top: 6rem;
		}
	}
}

.home section.doe-para-campanha {
	background-image: url('/img/home/doe-para-campanha.png');
	background-size: 20vw;
	background-position: top right;
	background-repeat: no-repeat;

	@media
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi) {
		background-image: url('/img/home/doe-para-campanha@2x.png');
	}

	@media (max-width: 768px) {
		background-size: 50vw;
	}

	& .title-container {
		position: relative;

		& .subtitle {
			position: absolute;
			right: 20%;
			top: 6rem;
		}
	}
}

/**
	Sobre Áurea styles
**/


#highlight-sobre {
	background-image: url('/img/sobre-aurea/destaque.jpg');
}

/**
	A Gabinetona styles
**/

.slider-gabinetona {
	.slick-prev, .slick-next {
	    position: absolute;
	    top: 40%;
	    display: block;
	    padding: 0;
	    -webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    cursor: pointer;
	    color: $white;
	    border: none;
	    outline: none;
	    background: transparent;
		z-index: 3;
	}

	.slick-prev {
	    left: 1rem;

		@media (max-width: 768px) {
			left: 0;
		}
	}

	.slick-next {
	    right: 3rem;

		@media (max-width: 768px) {
			right: 0;
		}
	}

	.description {
		color: $primary;
		font-style: italic;
	}
}


.slider-entregas {
	margin-bottom: 4em;

	.slick-prev, .slick-next {
	    position: absolute;
	    top: 50%;
	    display: block;
	    padding: 0;
	    -webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    cursor: pointer;
	    color: $primary;
	    border: none;
	    outline: none;
	    background: transparent;

		@media (max-width: 1023px) {
			display: none !important;
		}
	}

	.slick-prev {
	    left: -5rem;
	}

	.slick-next {
	    right: -5rem;
	}

	.slick-dots { position: absolute; bottom: -5em; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
	.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
	.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
	.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
	.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
	.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-family: "slick"; font-size: 45px; line-height: 5px; text-align: center; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
	.slick-dots li.slick-active button:before { color: $primary; opacity: 0.75; }
}

/**
	Muitas styles
**/

#highlight-muitas {
	background-image: url('/img/muitas/destaque.jpg');
}

/**
	Viralize styles
**/

.viralize-menu a:hover {
	background: $primary;
	color: $link;
}

.viralize .peca {
	position: relative;
	background-size: cover;
	background-position: center;
	padding-top: 100%;

	& .description {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0.5em;
	}
}

.modal.viralize {
	& .modal-content {
		max-width: 50vw;

		@media (max-width: 768px) {
			max-width: 90vw;
		}
	}
}

/**
	Footer styles
**/

section.juntas-podemos {
	background-image: url('/img/juntas-podemos.png');
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;

	@media
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi) {
		background-image: url('/img/juntas-podemos@2x.png');
	}

	@media (max-width: 768px) {
		background-position: right top;
		padding-top: 70vw;
	}

	& .social-group {
		display: flex;
		justify-content: flex-start;
		margin-top: 1em;

		@media (max-width: 768px) {
			align-items: center;
			justify-content: center;
		}

		.social-icon {
			background-color: $white;
			margin-right: 1em;
			border-radius: 100%;

			& a {
				color: $primary;
			}
		}
	}
}

footer {
	.campaign-logos {
		display: flex;
		align-items: center;
		justify-content: center;

		& div:first-of-type {
			margin-right: 2em;
		}
	}

	.campaign-data {
		border-left: 5px solid $primary;
	}
}
